DATABASE_DIALECT=dialect
DATABASE_HOST=host
DATABASE_USERNAME=username
DATABASE_NAME=name
DATABASE_PASSWORD=password
DATABASE_PORT=port
JWT_SECRET=jwt_secret
BASE_URL=base_url
UKR_NET_EMAIL=email@ukr.net
UKR_NET_PASSWORD=email_password